.participantsList {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: rgb(224, 218, 218);
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}

.table-striped>thead>tr>th {
    background-color: rgb(238, 230, 230);
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    font-style: normal;
    padding: 8px;
}

table {
    table-layout: auto;
    width: 100%;
}